<div id="issue-banner" class="full-width {{data.post.issue.theme}}" style="background-image: url({{data.post.issue.coverImage}});">
	<div class="issue-banner-title">
		<div id="sillywrp">
				 <h2><a href="/issues/{{data.post.issue.issueNumber}}">&lt; {{data.post.issue.name}}</a></h2>
		</div>

	</div>
</div>

{{!-- http://res.cloudinary.com/inhmag/image/upload/v1430629415/facets-logo_qqdzb6.png --}}
<div class="facets-header">
	<img src="http://res.cloudinary.com/inhmag/image/upload/v1430629415/facets-logo_qqdzb6.png" alt="Facets" class="facetLogo">
</div>

<div class="wrapper-article">
<article class="article-parent">
	<header>
		<h1>{{data.post.title}}</h1>
		<h2>{{data.post.subTitle}}</h2>
		<h5>
		{{!-- {{{categoryList data.post.categories prefix="Posted in "}}} --}}
		{{!-- {{#if author.name.first}}by {{author.name.first}}{{/if}} --}}
		{{data.post.byLine}}
		</h5>
		<h6>{{#if data.post.InfoArticle4}}
		{{data.post.InfoArticle4}}
		{{/if}}</h6>
	</header>
	<div class="article-section post">
		{{{data.post.content.extended.html}}}
	</div>

	<div class="article-info">
		
		{{#if data.post.InfoArticle.html}}
			<div class="info-card">

			{{{data.post.InfoArticle.html}}}

			</div>
		{{/if}}
		{{#if data.post.InfoArticle2.html}}
			<div class="info-card">

			{{{data.post.InfoArticle2.html}}}

			</div>
		{{/if}}
		
		{{#if data.post.InfoArticle3.html}}
			<div class="info-card">

			{{{data.post.InfoArticle3.html}}}

			</div>
		{{/if}}
		
		{{#if data.post.InfoArticle4.html}}
			<div class="info-card">

			{{{data.post.InfoArticle4.html}}}

			</div>
		{{/if}}
		
		
		

	</div>
</article>
</div>
